@import '../../styles/theme';

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.search {
  background-color: #f1f1f1;
  padding: 50px 50px;
}

.search-small {
  background-color: #f1f1f1;
  padding: 50px 10px;
}

.search-big {
  background-color: #f1f1f1;
  padding: 50px 150px;
}


.container-border {
  border: 1px solid rgb(221, 221, 221);
}

.container {
  margin: 40px 0px;
}


.brandTile {
  &:hover {
    @include mat-elevation(6);
    transition: .3s;
  
  }
  
}

.tileImg {
  width:100%;
  height: auto;
  margin-top: 30px;
}

.mat-grid-tile-header div{ margin: auto; }