@import './theme';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One');
@include mat-core($custom-typography);

@include angular-material-theme($nga-theme);


html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

body {
    color: #495057;
    background-color: #fff;
    font-size: mat-font-size($custom-typography, body-1);
    height: 100%;
    max-width:1500px; // default width
    margin: 0 auto;
}





.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

  mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
  mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }
  
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }
  

  .mat-paginator-container {
    flex-wrap: nowrap !important;
  }

  .mat-button-toggle-checked {
    background-color: mat-color($nga-accent);
    color: mat-color($nga-accent, default-contrast) !important;
  }

  .my-filter {
    .mat-expansion-panel-body {
      padding: 10px 5px;
      background-color: rgb(247, 247, 247);
    }

    .mat-list-option {
      height:35px !important;
    }
  
  }


  .mat-card-header-text {
    margin: 0px !important;
  }

  .mat-chip {
    font-size:10px;
  }

  .filter-list .mat-list-item {
    height: 30px !important;
  }

  .full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
  }

//   .mat-list .mat-list-item .mat-line{
//     word-wrap: break-word;
//    white-space: pre-wrap;
// }


// .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start,
// .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end {
//   border-radius: 25px;
// }