<!-- <div fxLayout="row" fxLayoutAlign="end"> -->
<!-- <button mat-raised-button color="accent" (click)="sideNav.opened = !sideNav.opened;">Filtruj</button> -->
<!-- </div> -->

<mat-sidenav-container fxLayout="row">
  <mat-sidenav [fixedInViewport]="true" fxFlex="grow" class="vehicle-filters" [opened]="sideNav.opened"
    [mode]="sideNav.mode">
    <offer-filter *ngIf="searchData" (filter)="onFilter($event)" [search]="searchData"></offer-filter>
  </mat-sidenav>

  <mat-sidenav-content [ngClass.gt-sm]="'big-sidenav'" fxFlex="grow">

    <mat-toolbar>
      <mat-toolbar-row fxLayoutGap="10px">
        <button mat-mini-fab color="accent" (click)="sideNav.opened = !sideNav.opened;">
          <mat-icon>filter_list</mat-icon>
        </button>


        <mat-form-field  appearance="fill" class="sort__field">
              <mat-label>Sortuj</mat-label>
              <mat-select [(ngModel)]="orderBy" (selectionChange)="onOrderChange()">
                <mat-select-trigger>
                  <mat-icon>{{orderBy.icon}}</mat-icon>&nbsp;{{orderBy.name}}<!-- where form is the name of your FormGroup -->
              </mat-select-trigger>
              <ng-container *ngFor="let order of orderList">
                  <mat-option [value]="order"><mat-icon>{{order.icon}}</mat-icon>{{order.name}}
                  </mat-option>
                  <mat-divider></mat-divider>
              </ng-container>
            </mat-select>

            </mat-form-field>

        <mat-paginator fxHide.lt-sm="true" [hidePageSize]="hidePageSize" fxFlex #paginatorTop (page)="pageChangeEvent($event)"
          [length]="length" [pageSize]="itemsPerPage" [pageSizeOptions]="[10,20,50,100]"></mat-paginator>

      </mat-toolbar-row>
    </mat-toolbar>


    <!-- <mat-spinner fxFlex fxFlexAlign="center" *ngIf="loading"></mat-spinner> -->
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div fxLayout="column" fxLayoutAlign="center center" class="example-container" *ngIf="!loading && cars.length == 0">
      <h1>Brak wyników</h1>
      <p>Dla podanych parametrów wyszukiwania nie znaleziono żadnych wyników</p>

    </div>


    <div fxFlexFill class="example-container" *ngIf="!loading">
      <div fxLayout="column" fxLayoutGap="20px" [style.height]="'100%'">
        <div class="card" *ngFor="let car of cars">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div fxFlex="30%">
              <a [routerLink]="['/offer', car.id]"><img [attr.src]="car.thumb_image" alt="Free image"></a>
            </div>
            <div fxFlex>
              <div fxLayout="row wrap" fxLayou.lt-md="column">
                <div fxFlex class="description main">
                  <h3 class="title"><a [routerLink]="['/offer', car.id]">{{car.brand}} {{car.model}}</a></h3>
                  <p><mat-icon>article</mat-icon>Numer aukcji
                    <span class="right">{{car.offerId}}</span>
                  </p>
                  <p><mat-icon>speed</mat-icon>Przebieg 
                    <span class="right">{{car.mileage}} mi</span>
                  </p>

                  <p><mat-icon>drive_eta</mat-icon>Rok produkcji
                    <span class="right">{{car.production_year}}</span>
                  </p>

                </div>
                <div fxFlex class="description additional">
                  <div fxLayout="column" fxLayoutAlign="end end">
                    <p *ngIf="car.sale_date"><mat-icon>insert_invitation</mat-icon>{{car.sale_date | date:'medium':'pl'}}</p>
                    <p *ngIf="!car.sale_date"><mat-icon>insert_invitation</mat-icon>Future</p>
                    <h4><mat-icon>place</mat-icon>{{car.location}}</h4>
                    <h3 class="price">{{car.current_price | currency : 'USD' : 'symbol-narrow' : '1.0-0'}}</h3>
                    <button *ngIf="!car.sold && !isOld(car.sale_date)" mat-raised-button color="primary"
                      [routerLink]="['/offer', car.id]">Licytuj</button>
                    <button *ngIf="car.sold" mat-stroked-button color="primary">Sprzedane</button>
                    <button *ngIf="!car.sold && isOld(car.sale_date)" mat-stroked-button
                      color="warn">Niesprzedane</button>
                    <a class="dialog_button" [routerLink]="" (click)="openDialog(car)">Zapytaj o ten pojazd</a>
                  </div>


                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>



    <mat-paginator  #paginator (page)="pageChangeEvent($event)" [length]="length"
      [pageSize]="itemsPerPage" [pageSizeOptions]="[10,20,50,100]"></mat-paginator>
  </mat-sidenav-content>

</mat-sidenav-container>
