@import '../../../styles/theme';


.detail_container {
  margin-top: 40px;
  padding: 0px 20px;
}

.detail {
  margin-bottom: 40px;
}

  
  
  
  h2  {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .vehicle_data {
    margin-top: 24px;
  }



  .vehicle_carousel {
    margin-bottom: 20px;
  }

  .vehicle_info {
    padding: 0px 18px;
    p {
      color: #636363;
      font-weight: 300;
      font-size: 14px;
    }

  
    span {
      color: #313131;
      float: right;
      font-weight: 400;
    }
  }

  .vehicle_saleinfo {
    border-radius: 10px;
    background-color: #f4f4f4;
    padding: 24px;

    p span {
      color: #313131;
      display:block;
      float: none;
      font-weight: 500;
    }

      .price span {
        color: #93C327;
        font-size:28px;
        font-weight: 500;
        margin-top:8px;
      }
  }

  .bid_button {
    margin: 24px 0px;
  }

  mat-divider {
    margin: 10px 0px;
  }

  fieldset {
    min-height: 200px;
    border-radius: 20px;
    border: 1px solid #c9c9c9;

    legend {
      margin-left: 20px;
      padding: 20px;
      font-size: 20px;
      font-weight: 500;
    }
  }


  .similiar_cars {
    margin-top: 50px;
    h3 {
      font-size:20px;
      text-align: center;
      border-bottom: 1px solid #c9c9c9;
      line-height:0.1em;
      margin: 10px 0 20px;
    }

    h3 span {
      background: #fff;
      padding: 0 40px;
    }

    .mat-card-content {
      p {
        font-weight: 300;
      }

      p span {
        color: #313131;
        display:block;
        float: none;
        font-weight: 500;
      }
  
        .price span {
          color: #93C327;
          font-size:28px;
          font-weight: 500;
          margin-top:8px;
        }
    }

  }

.mat-card-image {
  max-height: 200px;
  object-fit: cover;
}

.simcar {
  &:hover {
    @include mat-elevation(10);
    transition: .3s;
  
  }
}