<div [ngClass.gt-md]="'detail_container'">
  <div class='detail' *ngIf="car">

    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="15px">
      <div fxFlex="50%" class="vehicle_carousel">
        <mat-carousel class="carousel" timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary"
          proportion="70" maxWidth="auto" slides="8" [loop]="true" [hideArrows]="false" [hideIndicators]="true"
          orientation="ltr">
          <mat-carousel-slide #matCarouselSlide *ngFor="let image of car.images; let i = index" [hideOverlay]="true"
            [image]="image">
          </mat-carousel-slide>
        </mat-carousel>
      </div>


      <div fxLayout="column" class="vehicle_info" fxFlex>
        <h2>{{car.brand}} {{ car.model}}</h2>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div class="vehicle_data" fxLayout="column" fxFlex="60%">
            <h3>DANE AUKCJI</h3>
            <p>Numer aukcji<span>{{car.offerId}}</span></p>
            <p>Marka<span>{{car.brand}}</span></p>
            <p>Model<span>{{car.model}}</span></p>
            <p>Rok produkcji<span>{{car.production_year}}</span></p>
            <p>Przebieg<span>{{car.mileage | number}} mi</span></p>
            <p>Rodzaj uszkodzenia<span>{{car.primary_damage}}</span></p>
            <p>VIN<span>{{car.vin}}</span></p>
            <p>Napęd<span>{{car.drive}}</span></p>
            <p>Rodzaj nadwozia<span>{{car.body_style}}</span></p>
            <p>Rodzaj paliwa<span>{{car.fuel}}</span></p>
            <p>Silnik<span>{{car.engine}}</span></p>
            <p>Skrzynia biegów<span>{{car.transmission}}</span></p>
            <p>Kolor<span>{{car.color}}</span></p>
          </div>

          <div class="vehicle_saleinfo" fxLayout="column" fxFlex="40%" fxLayoutAlign="space-between stretch">
            <h3>AKTUALNA CENA</h3>

            <p class="price">Aktualna cena<span> $ {{ car.current_price | number: '1.0-0'
                }}</span></p>
            <p *ngIf="car.buy_now" class="price">Cena "Kup teraz"<span>{{ car.buy_now | currency : 'USD' :
                'symbol-narrow' : '1.0-0'
                }}</span></p>

            <mat-divider></mat-divider>
            <h3>SZCZEGÓŁY SPRZEDAŻY</h3>
            <p>Miejsce komisu<span>{{car.location}}</span></p>
            <p *ngIf="car.sale_date">Data licytacji<span>{{car.sale_date | date:'medium'}}</span></p>
            <p *ngIf="!car.sale_date">Data licytacji<span>FUTURE</span></p>

            <button class="bid_button" *ngIf="!car.sold" mat-raised-button color="primary" (click)="openDialog()">Licytuj</button>
          </div>
        </div>
      </div>
    </div>

    <!--################ KALKULATOR IMPORTU ########### -->
    <!-- <div fxLayout="row">
      <fieldset fxFlex>
        <legend>KALKULATOR IMPORTU</legend>
      </fieldset>
    </div> -->

    <div class="similiar_cars" fxLayout="column" fxLayoutGap="50px">
      <h3 fxFlex><span>PODOBNE AUKCJE</span></h3>
      <div fxLayout="row wrap"   >
        <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" *ngFor='let simCar of similiarCars$ | async'>
        <mat-card class='mat-elevation-z1 simcar' >
          <mat-card-header>
            <mat-card-title>{{simCar.brand}} {{simCar.model}}</mat-card-title>
            <mat-card-subtitle>{{simCar.vin}}</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image [src]='simCar.thumb_image' alt="Image of {{simCar.brand}} {{simCar.model}}">

          <mat-card-content>
            <p *ngIf="simCar.sale_date">Data licytacji<span>{{simCar.sale_date | date:'medium'}}</span></p>
            <p *ngIf="!simCar.sale_date">Data licytacji<span>FUTURE</span></p>

            <p class="price">Aktualna cena<span> $ {{ simCar.current_price | number: '1.0-0'
            }}</span></p>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-button (click)="openDialog(simCar)">ZAPYTAJ</button>
            <button mat-raised-button color="primary" [routerLink]="['/offer', simCar.id]">SZCZEGÓŁY</button>
          </mat-card-actions>
        </mat-card>
      </div>
      </div>


    </div>
  </div>
</div>